body {
    font-family: Arial, sans-serif;
    margin: auto;
    background-color: rgb(255, 255, 255);
}
header {
    
    background-color: rgb(105, 166, 216);
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;   
}

h1 {
    margin: 0;
    font-size: 40px;
    text-shadow: 2px 2px 4px #000000;
}

.logoT {
    float: right;
    margin: top -80px;
    margin-left: -20px;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

nav{
    text-align: center;
    margin-top: -10px;
    
}

aside {
    float: left;
    width: 20%;
    background-color: rgb(245, 245, 245);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(108, 108, 218);
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(238, 237, 240);
    margin: 15px 0;


}

